.message{data: { message_id: "#{message.id}" }}
  .message__info
    %p.message__info__user
      = message.user.name
    %p.message__info__timestamp
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__text
    -if message.body.present?
      = message.body
  = image_tag message.image.url if message.image.present?