.contents

  = render 'shared/side_bar'

  .main-contents

    .main-header
      .main-header__box
        %h2.main-header__box__current-group test-group
        %ul.main-header__box__members
          Member：
          %li.main-header__box__members__member
            test
          %li.main-header__box__members__member
            user
      = link_to "#" do
        .main-header__edit-btn Edit

    .messages
      -# 後にeachメソッドを使って編集
      .message
        .message__info
          %p.message__info__user test-user
          %p.message__info__timestamp 2019/10/10(Wed) 12:00
        .message__text こんにちは！
        =image_tag ""
      .message
        .message__info
          %p.message__info__user test-user
          %p.message__info__timestamp 2019/10/10(Wed) 12:00
        .message__text こんにちは！
        =image_tag ""

    .form
      = form_for [@group, @message] , html: {class: new-post} do |f|
        .new-post__box
          = f.text_field :body, class:"new-post__box__text", placeholder: "type a message"
          = f.label :image, class: "new-post__box__image" do
            = fa_icon "image", class: "fa-lg"
            = f.file_field :image, class: "new-post__box__image__file"
        = f.submit "Send", class: "form__submit-btn"




