.contents

  = render 'shared/side_bar'

  .main-contents

    .main-header
      = render partial: "shared/main_header"

    .messages
      = render partial: "message", collection: @messages


    .form
      = form_for [@group, @message] , html: {class: "new-post"} do |f|
        .new-post__box
          = f.text_field :body, class:"new-post__box__text", placeholder: "type a message"
          = f.label :image, class: "new-post__box__image" do
            = fa_icon "image", class: "fa-lg"
            = f.file_field :image, class: "new-post__box__image__file"
        = f.submit "Send", class: "form__submit-btn"